<section class="sct-color-1 slice">
  <div class="container">
    <div class="row">
      <div class="col-md-12 post_images_container">
        <div class="post-item">

          <div class="post-meta-top">
            <div class="post-image">
              <%= attachment_image_tag @post_image, :image %>
            </div>
            </div>

          <div class="post-content">
            <h2 class="post-title"><%= @post_image.shop_name %></h2>
            <ul class="meta-info-cells v4 float-wrapper">
              <li>
                <i class="fa fa-user"></i>By
                <a href="#"><%= @post_image.user.name %></a>
              </li>
              <li>
                <i class="fa fa-calendar"></i><%= @post_image.created_at.strftime('%Y/%m/%d') %>
              </li>
              <li>
                <i class="fa fa-heart"></i>
                <a href="#">202 いいね</a>
              </li>
              <li>
                <i class="fa fa-comment"></i>
                <a href="#comments"><%= @post_image.post_comments.count %></a>
              </li>
              <li>
                <% if @post_image.user == current_user %>
                   <%= link_to "削除", post_image_path(@post_image), method: :delete %>
                <% end %>  
              </li>
            </ul>
            <div class="post-content-inner mt-20">
              <p><%= @post_image.caption %></p>
            </div>
          </div>

          <div class="comment-list bt style-2" id="comments">
            <div class="float-wrapper">
              <h2 class="comment-count"><%= @post_image.post_comments.count %>件コメント</h2>
            </div>
            <ol>
              <% @post_image.post_comments.each do |post_comment| %>
              <li class="comment">
                <div class="comment-body bb">
                  <div class="comment-avatar">
                    <div class="avatar">
                      <!-- <img src="images/sample-author1.jpg"> -->
                      <%= image_tag('sample-author1.jpg') %>
                    </div>
                  </div>
                  <div class="comment-text">
                    <div class="comment-author clearfix">
                      <a href="#">投稿者名</a>
                      <span class="comment-meta">
                        <span class="comment-date">2017/07/21</span>
                      </span>
                    </div>
                    <div class="comment-entry">コメントがここに表示されますコメントがここに表示されますコメントがここに表示されますコメントがここに表示されますコメントがここに表示されますコメントがここに表示されますコメントがここに表示されます</div>
                  </div>
                </div>
              </li>
              <% end %>
            </ol>
          </div>
          <hr>

          <!-- Add comment section -->
          <div class="section-title-wrapper style-1 v1 mt-30" id="divAddComment">
            <h3 class="section-title left">
              <span>コメント</span>
            </h3>
          </div>
          <%= form_for [@post_image, @post_comment] do |f| %>
            <div class="row">
              <div class="col-sm-12">
                <%= f.text_area :commnet, rows:"5", class: "form-control",placeholder: "コメントをここに" %>
              </div>
            </div>
            <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>
